<%- include("./partials/header")%>; 
<h1>Compose</h1>
<div class='container'>
<form class="form">
    <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" >
</div>
    <br>
    <label for="">Post</label>
    <textarea class="form-control"></textarea>
    <br>
    <button class= "  btn btn-primary" type="submit" >Publish</button>
</form>
</div>
<%- include("./partials/footer")%>; 